.app-footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #282c34;
  text-align: center;
  color: white;
}
.category-container {
  min-width: 200px;
  max-width: 200px;
  min-height: 150px;
  max-height: 150px;
  display: inline-block;
  margin: 25px 25px;
  vertical-align: middle;
  border: 1px solid black;
}

.category {
  text-align: center;
  vertical-align: middle;
  font-size: 10px;
  line-height: 150px;
}

.business-map {
  border: solid 1px black;
  text-align: center;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  margin: 20px auto;
}

.business-detail-label-container {
  width: 50%;
  display: inline-block;
}

.business-detail-label {
  font-weight: bold;
  width: 50%;
  text-align: right;
  display: inline-block;
  margin-right: 5px;
}

.business-container {
  width: 60%;
  margin: 25px auto;
}

.paper-container {
  padding: 10px;
}

.business-map {
  border: solid 1px black;
  text-align: center;
  height: 75px;
  line-height: 75px;
  vertical-align: middle;
  display: inline-block;
  width: 50%;
  margin: 20px auto;
}

.business-detail-container {
  width: 50%;
  display: inline-block;
}

.business-detail-label-container {
  width: 50%;
  display: inline-block;
}

.business-detail-label {
  font-weight: bold;
  width: 50%;
  text-align: right;
  display: inline-block;
  margin-right: 5px;
}

.business-container {
  width: 60%;
  margin: 25px auto;
}

.paper-container {
  padding: 10px;
}

/* reference: https://codepen.io/katia-trifonova/pen/zwZgdx */
.marker {
  position: absolute;
  top: 40%;
  left: 50%;

  border-radius: 50%;
  border: 8px solid red;
  width: 8px;
  height: 8px;
}

.marker::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid red;
}
